{% extends 'partials/base.html' %}
<!-- {% load static %} -->

{% block content %}
        <main class="main">
            <div class="intro-section pt-lg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="banner banner-big banner-overlay">
                                <a href="#">
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-1.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white">Your Guide To The World</a></h4><!-- End .banner-subtitle -->
                                    <h2 class="banner-title text-white">Must-Read <br>Travel Books</a></h2><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=17" class="btn btn-outline-white-3 banner-link">Find out more<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="banner banner-overlay">
                                <a>
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-2.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-stretch">
                                   
                                    <h3 class="banner-title text-white">Discover Our <br>Best Romance <br>Books</h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=12" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="banner banner-small banner-overlay">
                                <a>
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-3.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                   
                                    <h3 class="banner-title text-white">Science,Fiction &<br>Fantasy: <span>Books</span></h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=15" class="btn btn-outline-white-3 banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-small banner-overlay">
                                <a >
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-4.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h3 class="banner-title text-white">Biography Books</h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=24" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .intro-section -->





            <div class="bestseller-products bg-light pt-5 pb-5 mb-5">
                <div class="block">
                    <div class="block-wrapper">
                        <div class="container">
                            <div class="heading heading-flex">
                                <div class="heading-left">
                                    <h2 class="title">Bestsellers</h2>
                                </div>
                                <div class="heading-right">
                                    <a href="{% url 'shop:store' %}" class="title-link">View more Products <i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div>
            
                            <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items": 2
                                        },
                                        "480": {
                                            "items": 2
                                        },
                                        "768": {
                                            "items": 3
                                        },
                                        "992": {
                                            "items": 4
                                        },
                                        "1440": {
                                            "items": 5
                                        }
                                    }
                                }'>
                                {% for product in products %}
                                <div class="product">
                                    {% if product.stock < 1 %}
                                        <span class="product-label label-sale">Out of stock</span>
                                    {% endif %}
                                    {% if product.stock <= 5 and product.stock > 0 %}
                                                <span class="product-label label-sale">Only Few Unites Left</span>
                                            {% endif %}
                                    <figure class="product-media">
                                        <a href="{% url 'shop:product' product.id %}">
                                            <img src="{{ product.productimage_set.first.image.url }}" alt="{{ product.name }}" class="product-image">
                                        </a>
                                    </figure>
                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a >{{ product.author }}</a>
                                        </div>
                                        <h3 class="product-title">
                                            <a href="{% url 'shop:product' product.id %}">{{ product.name }}</a>
                                        </h3>
                                        <div class="product-price">
                                                <span class="new-price">${{ product.price }}</span>
                                        </div>
                                        <div class="product-footer">
                                            <div class="ratings-container">
                                            </div>
                                            <div class="product-action">
                                              
                                                <a href="#" class="btn-product btn-wishlist2" data-product-id="{{ product.id }}" ><span>Add to Wishlist</span></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            





















            <div class="container">
                <div class="heading heading-flex">
                    <div class="heading-left">
                        <h2 class="title">New Releases</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <a href="{% url 'shop:store' %}" class="title-link">View more Products <i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .heading-right -->
                </div><!-- End .header-flex -->

                <div class="row">
                    <div class="col-xl-4">
                        <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 10
                            }'>
                            {% for product in recent_products|slice:":2" %}
                            <div class="product-big">
                                <img src="{{ product.productimage_set.first.image.url }}" alt="product bg img">

                                <div class="product-wrap">
                                    <div class="product-body">
                                        <div class="product-cat">
                                            by {{product.author}}
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ₹{{product.price}}
                                        </div><!-- End .product-price -->

                                        <div class="product-action">
                                            <a href="{% url 'shop:product' product_id=product.id %}" class="btn-product btn-cart"><span>Shop Now</span></a>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product-wrap -->
                            </div><!-- End .product-big -->
                            {% endfor %}

                        
                        </div><!-- End .owl-carousel -->

                        <div class="mb-3 d-xl-none"></div><!-- End .mb-3 d-none -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-xl-8">
                        <div class="block-wrapper ">
                            <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":3
                                        },
                                        "1440": {
                                            "items":4
                                        }
                                    }
                                }'>
                                {% for product in recent_products|slice:"2:" %}
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="{% url 'shop:product' product_id=product.id %}">
                                            <img src="{{ product.productimage_set.first.image.url }}" alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by {{product.author}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url 'shop:product' product_id=product.id %}">{{product.name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ₹{{product.price}}
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            {% comment %} <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 5 Reviews )</span>
                                            </div><!-- End .rating-container --> {% endcomment %}
                                            <div class="product-action">
                                                {% comment %} <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> {% endcomment %}
                                                <a href="#" class="btn-product btn-wishlist2" data-product-id="{{ product.id }}" ><span>Add to Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                                {% endfor %}
                                </div><!-- End .product --> 
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .block-wrapper -->
                    </div><!-- End .col-lg-8 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-3 -->

            <div class="banner-group mb-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a>
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-6.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white">A Perfect Choice For Your Children</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white">Children's <br>Bestselling Books</h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=19" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a >
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-7.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white">The Horror Shop at Lit-Leaves</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white">Horror <br>Books</h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=25" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a>
                                    <img src="{% static 'assets/images/demos/demo-20/banners/banner-8.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white">Lit-Leaves Bestsellers</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white">Bestselling Food <br>and Drink Books.</h3><!-- End .banner-title -->
                                    <a href="{% url 'shop:store' %}?category=26" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
              </div><!-- End .banner-group -->
             <div class="mb-5" style="height: 100px;">
                <!-- Content within the div -->
            </div><!-- End .mb-5 -->
            
        </main><!-- End .main -->

{% endblock content %}
       