{%load static %}
<!DOCTYPE html>
<html lang="en">

<!-- molla/index-20.html  22 Nov 2019 10:01:15 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-20.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-20.css' %}">
    <style>
        .header-center.headee {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .main-nav-wrapper {
            display: flex;
            align-items: center;
        }
            .autocomplete-item {
                cursor: pointer;
                padding: 8px;
            }
        
            .autocomplete-item-hover {
                background-color: #f2f2f2;
            }
          
            .custom-autocomplete .ui-menu-item a {
                color: white;
            }
        
        
</style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-12">
                <div class="header-top">
                    <div class="container">
                        <div class="header-left">
                            <a><i class="icon-phone"></i>Call: +91 9744421036</a>
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            {% if not user.is_authenticated %}
                            <ul class="top-menu">
                                <li>
                                    {% comment %} <a href="#">Links</a> {% endcomment %}
                                    <ul class="dropdown-links">
                                        <li><a href="{% url 'userauths:sign-in' %}">Sign in / Sign up</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        {% endif %}
                        
                        </div><!-- End .header-right -->

                    </div><!-- End .container -->
                </div><!-- End .header-top -->

          <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        <a href="{% url 'home:index' %}" class="logo">
                            <img src="{% static 'assets/images/demos/demo-20/banners/litleaves2.png' %}" alt="Lit-leaves Logo" width="105" height="25">
                        </a>
                        {% comment %} <a href="{% url 'user_authentication:home' %}" class="sf-with-ul">
                            <img src="{% static 'user_auth/assets/images/demos/demo-10/solo.png' %}" width="105"
                                height="25"></a> {% endcomment %}
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get" id="searchFormhome">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                            
                        </div><!-- End .header-search -->
                        
                        <div class="header-dropdown-link">
                            <div class="account">
                                <a href="{% url 'user_profile:dashboard' %}" title="My account">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>Account</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="wishlist">
                                <a href="{% url 'user_profile:wishlist' %}" title="Wishlist">
                                    <div class="icon">
                                        <i class="icon-heart-o"></i>
                                    </div>
                                    <p>Wishlist</p>
                                </a>
                            </div><!-- End .compare-dropdown -->
                            <div class="cart-dropdown">
                                <a href="{% url 'shop:cart' %}" class="dropdown-toggle" role="button">
                                    <div class="icon">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">{{cartItems}}</span>
                                    </div>
                                    <p>Cart</p>
                                </a>
                            </div><!-- End .cart-dropdown -->
                            </div>
                         </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle --> 
            
            
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div style="background-color: #333; display: flex; width: 100%;">   
                        <div class="header-left">
                            <div class="dropdown category-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                    Browse Categories
                                </a>
                            
                                <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                            {% for category in categories %}
                                                <li class="item-lead">
                                                    <a href="{% url 'shop:store' %}?category={{ category.id }}">{{ category.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul><!-- End .menu-vertical -->
                                        
                                    </nav><!-- End .side-nav -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->
                        </div><!-- End .header-left -->

                        <div class=" headee">
                            <div class="main-nav-wrapper">
                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container active ">
                                            <a href="#" style=" padding: 1.55rem 3rem 1.55rem 3rem" >Home</a>
                                        </li>
                                        
                                        <li>
                                            <a style=" padding: 1.55rem 3rem 1.55rem 3rem" href="{% url 'shop:store' %}">Shop</a>
                                        </li>
                                    </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->
                            </div>
                        </div>
                        

                       
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->


{% block content %}

{% endblock content %}

<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li><a href="{% url 'userauths:sign-in' %}">Sign In</a></li>
                                    <li><a href="{% url 'shop:cart' %}">View Cart</a></li>
                                    <li><a href="{% url 'user_profile:wishlist' %}">My Wishlist</a></li>
                                    <li><a href="{% url 'user_profile:my_orders' %}">Track My Order</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->
                    </div><!-- End .row -->
                </div><!-- End .col-lg-6 col-xl-7 -->
    
                <div class="col-sm-12 col-lg-6 col-xl-5">
                    <div class="widget widget-about">
                        <img src="{% static 'assets/images/romance/litleaves2.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Welcome to Lit-Leaves, your premier destination for a world of literary wonders. Immerse yourself in a curated collection of books that inspire, entertain, and spark your imagination. Our passion is to bring the magic of words to your fingertips. Explore, discover, and embark on literary adventures with Lit-Leaves.</p>
    
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:123456789">+91 9744421036</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-6 col-xl-5 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2023 Lit-Leaves Store. All Rights Reserved.</p><!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
<div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>
    
    <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>
    

    <ul class="nav nav-pills-mobile" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="{% url 'home:index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:store' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'user_profile:my_orders' %}" class="">My Orders</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
            <nav class="mobile-cats-nav">
                <ul class="mobile-cats-menu">
                    {% for category in categories %}
                                                <li class="item-lead">
                                                    <a href="{% url 'shop:store' %}?category={{ category.id }}">{{ category.name }}</a>
                                                </li>
                                            {% endfor %}
                </ul><!-- End .mobile-cats-menu -->
            </nav><!-- End .mobile-cats-nav -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->

    <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
    </div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->



</div>
<script src="{% static '/assets/js/cart.js' %}"></script>
<script src="{% static '/assets/js/wishlist.js' %}"></script>

<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/superfish.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/demos/demo-20.js' %}"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}",
                title: "{% if message.tags == 'success' %}Success{% elif message.tags == 'error' %}Error{% endif %}",
                text: "{{ message }}",
            });
        {% endfor %}
    {% endif %}
</script>
<script>  
    $(document).ready(function() {
        $('.btn-wishlist2').on('click', function(e) {
            e.preventDefault();
    
            var productId = $(this).data('product-id');
    
            $.ajax({
                type: 'GET',
                url: '/user_profile/add_to_wishlist/' + productId + '/',
                success: function (response) {
    
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Item Added!',
                            text: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Oops...',
                            text: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error adding product to wishlist:', error);
    
                    // Log more details about the error
                    console.log('XHR:', xhr);
                    console.log('Status:', status);
    
                    // Display error SweetAlert for unexpected error
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                }
            });
        });
    });
    
    
</script>  
<script src="{% static '/assets/js/home.js' %}"></script>
<script>
    $(function() {
        // Autocomplete for mobile search
        $("#mobile-search").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '/search_suggestions/',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function(event, ui) {
                if (ui.item.url) {
                    window.location.href = ui.item.url;
                }
            },
            open: function(event, ui) {
                // Manually set z-index to ensure the suggestions appear above other elements
                $(".ui-autocomplete").css("z-index", 9999);
            },
            renderItem: function(ul, item) {
                var listItem = $("<li>")
                    .append("<div class='autocomplete-item'>" + item.label + "<span class='clickable-symbol'>&#9658;</span></div>")
                    .appendTo(ul);

                listItem.hover(
                    function() {
                        $(this).addClass('autocomplete-item-hover');
                    },
                    function() {
                        $(this).removeClass('autocomplete-item-hover');
                    }
                );

                return listItem;
            }
        });

        // Handle mobile search form submission (customize this part based on your needs)
        $('.mobile-search').on('submit', function(event) {
            event.preventDefault();
            var searchTerm = $('#mobile-search').val();
            // Do something with the search term (e.g., redirect to search results page)
            console.log('Mobile search term:', searchTerm);
        });
    });
</script>





</body>


</html>