{% extends 'partials/admin_base.html' %}
{% block content %}

<div class="main-panel">
    {% comment %} <div class="content-wrapper"> {% endcomment %}
        {% comment %} <div class="row "> {% endcomment %}
            <div class="container">
                <h2>Add Coupon</h2>
                <form method="post" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Add Coupon</button>
                </form>
              </div>
        {% comment %} </div>     {% endcomment %}
    {% comment %} </div>   {% endcomment %}
</div>  

{% endblock content %}