{% extends 'partials/admin_base.html' %}
{%load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">Category Management</h4>
                        </div>
                        <hr class="white-line my-4">
                        <div class="mb-5">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    <form action="{% url 'admin_panel:category' %}" method="get" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                                        {% csrf_token %}
                                        <input type="text" name="key" class="form-control mb-1 text-light" placeholder="Search Category">
                                        <button type="submit" class="btn-inverse-info mb-1">Search</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Icon</th> <!-- Add this column for the icon -->
                                        <th>Category Name</th>  
                                        <th>Remove</th>
                                        <th>Edit</th>
                                        <th>Action</th>                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in cat1 %}
                                    <tr>
                                        <td>
                                            {% if category.icon %}
                                                <img src="{{ category.icon.url }}" alt="{{ category.name }} Icon" width="50" height="50">
                                            {% else %}
                                                No Icon
                                            {% endif %}
                                        </td>
                                        <td>{{ category.name }}</td>
                                        <td>
                                            <form method="post"
                                                action="{% url 'admin_panel:delete_category' category.id %}">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-inverse-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#mod{{ category.id }}">
                                                    Delete Item
                                                </button>

                                                <div class="modal fade" id="mod{{ category.id }}"
                                                    tabindex="-1" aria-labelledby="exampleModalLabel"
                                                    aria-hidden="true">
                                                    <!-- Modal content for delete confirmation -->
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="exampleModalLabel">Delete
                                                                    Category</h5>
                                                                <button type="button" class="close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span
                                                                        aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete this
                                                                    category: {{ category.name }}?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit"
                                                                    class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <!-- delete modal ends -->
                                    <!-- edit begins -->
<td>
    <button type="button" class="btn btn-inverse-warning" data-bs-toggle="modal" data-bs-target="#editModal{{ category.id }}">
        Edit Item
    </button>
    <div class="modal fade" id="editModal{{ category.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ category.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel{{ category.id }}">
                        Edit Category
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your edit form here -->
                    <form method="post" action="{% url 'admin_panel:update_category' category.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="category_name">Category Name</label>
                            <input type="text" class="form-control" name="category_name" id="category_name" value="{{ category.name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="category_icon">Category Icon</label>
                            <input type="file" class="form-control" name="category_icon" id="category_icon">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</td>
<!-- edit setup ends -->

                                        <td>
                                            {% if category.is_active == True %}
                                                <a href="{% url 'admin_panel:block_category' category.id %}" class="badge badge-danger">Block</a>
                                            {% else %}
                                                <a href="{% url 'admin_panel:unblock_category' category.id %}" class="badge badge-success">Unblock</a>
                                            {% endif %}
                                        </td>                                                                            
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- add category setup starts -->
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Category</h4>
                    <hr class="white-line">
                    <form class="forms-sample" action="{% url 'admin_panel:add_category' %}"
                        method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-12 col-md-9 mt-2">
                                <label for="exampleInputName1">Category Name</label>
                                <input type="text" class="form-control text-light" name="category_name"
                                    id="exampleInputName1" placeholder="Name" required>
                                <label for="exampleInputIcon1">Category Icon</label>
                                <input type="file" class="form-control" name="category_icon" id="exampleInputIcon1">
                                <button type="submit"
                                    class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add
                                    Category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- add language setup starts -->
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Language</h4>
            <hr class="white-line">
            <form class="forms-sample" action="{% url 'admin_panel:add_language' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-12 col-md-9 mt-2">
                        <label for="exampleInputLang1">Language Name</label>
                        <input type="text" class="form-control text-light" name="language_name"
                            id="exampleInputLang1" placeholder="Name" required>
                        <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add Language</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- add language setup ends -->

        <!-- add category setup ends -->
    </div>
</div>



                <!-- table comes here  -->
                <!-- basic table  -->

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        {% endblock content %}
