{% extends 'partials/base2.html' %}
{% block content %}


        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row  p-5" style="border-radius: 7px; background: #F3F3F9; ">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">My Profile</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li> -->
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                                </li> -->

                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Edit
                                            Details</a>
                                    </li>
                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link" id="tab-order-link" data-toggle="tab" href="#tab-order"
                                            role="tab" aria-controls="tab-order" aria-selected="false">My Orders</a>
                                    </li>
                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link"   href="#"
                                           >Offers</a>
                                    </li>
                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link"   href="#"
                                           >Wallet</a>
                                    </li>
                                    <li class="nav-item profile-nav-tabs">
                                        <a class="nav-link" href="{% url 'userauths:logout' %}">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content " >
                                    <div class="tab-pane fade show active p-5" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link" style="  border-radius: 7px;">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline ">My
                                            Profile</h6>

                                        <!-- display the user data on profile page -->
                                        <form action="#">


                                            <div class="form-group text-center mx-3 mt-4"> <!-- Added mt-4 for top margin -->
                                                <label class="image-label">
                                                    <div class="rounded-image-preview">
                                                        <img src="{{ profile.dp.url }}" alt="User's Profile Picture" class="rounded-circle" style="width: 150px; height: 150px;">
                                                    </div>
                                                </label>
                                            </div>
                                            <!-- <p><%= user %>  dfd</p> -->
                                            <label>User Name </label>
                                            <input type="email" class="form-control profile-inputs" value="{{ profile.user.username }}" disabled>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name</label>
                                                    <input  type="text" class="form-control profile-inputs" value="{{ profile.user.first_name }}"
                                                        disabled>

                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name </label>
                                                    <input type="text" class="form-control profile-inputs" value="{{ profile.user.last_name }}"
                                                        disabled>
                                                </div><!-- End .col-sm-6 --> 
                                            </div><!-- End .row -->

                                            <label>Email address </label>
                                            <input type="email" class="form-control profile-inputs" value="{{ profile.user.email }}" disabled>

                                            <label>Mobile Number</label>
                                            <input type="text" class="form-control" value="{{ profile.user.mobile_number }}" disabled>
                                    
                                            <label>Bio</label>
                                            <textarea class="form-control" disabled>{{ profile.bio }}</textarea>
                                        </form>
                                    </div><!-- .End .tab-pane -->



                                    <!-- this you can use new fieldhhhhhh -->

                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <p>No order has been made yet.</p>
                                        <a href="#" class="btn btn-outline-primary-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- .End .tab-pane -->
                                    <!-- this you can use new fieldhhhhhh   END-->



                                    <!-- orders page -->
                                    <div class="tab-pane fade" id="tab-order" role="tabpanel"
                                        aria-labelledby="tab-order-link">
                                        <div class=" row mx-auto ">

                                            <div class="card col-md-5 col-10 m-2 shadow-sm" id="allorder"
                                                style="border-radius: 7px; background: #F3F3F9; cursor: pointer;">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-center mt-1 py-4">
                                                        <i class="fa-solid fa-box-open mx-3"
                                                            style="font-size: 35px;"></i>
                                                        <h5 class=" m-0 align-self-center" style="font-weight: 300;">All
                                                            Orders</h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card col-md-5 col-10 m-2 shadow-sm" id="addressDiv"
                                                style="border-radius: 7px; background: #F3F3F9; cursor: pointer;">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-center mt-1 py-4">

                                                        <i class="fa-solid fa-map-location-dot  mx-3"
                                                            style="font-size: 35px;"></i>
                                                        <h5 class=" m-0 align-self-center" style="font-weight: 300;">Your Addresses</h5>
                                                    </div>
                                                </div>
                                            </div>






                                        </div>

                                    </div><!-- .End .tab-pane -->
                                    <!-- orders page END -->


                                    <!-- change password area -->


                                    <!-- account tab details -->
                                    <div class="tab-pane fade text-center" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline ">Edit
                                            Details</h6>

                                            <form id="avatarForm" action="{% url 'user_profile:update_avatar' %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <!-- user profile -->
                                                <div class="form-group text-center ">
                                                    <label for="imageUpload" class="image-label">
                                                        <div class="form-group text-center mx-3 mt-4"> <!-- Added mt-4 for top margin -->
                                                            <div class="rounded-image-preview">
                                                                <img src="{{ profile.dp.url }}" alt="User's Profile Picture" class="rounded-circle" style="width: 150px; height: 150px">
                                                            </div>
                                                        </div>
                                                        <button type="button" class="btn btn-outline-dark profile-inputs" id="updateAvatarButton">Update Avatar</button>
                                                    </label>
                                                    <!-- "Update Avatar" button to trigger file input -->
                                                
                                                    <div class="text-center mt-3 mx-auto "> <!-- Added mt-3 to create some space between the elements -->
                                                        <!-- Hidden file input with the correct name attribute -->
                                                        <input type="file" class="form-control-file mx-auto col-3" name="image" id="imageUpload" accept="image/*" style="display: none">
                                                        
                                                        <!-- Submit button for the form -->
                                                        <button type="submit" class="btn btn-outline-dark profile-inputs mx-auto mt-1" style="display: none" id="submitAvatarButton">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                            
                                            
                                            
                                            

                                        <form action="{% url 'user_profile:editprofile' %}" method="post">
                                            {% csrf_token %}
                                            <!-- profile end -->
                                            <label>User Name *</label>
                                            <input type="text" class="form-control profile-inputs" name="username"
                                                value="{{ profile.user.username }}">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" class="form-control profile-inputs" value="{{ profile.user.first_name }}"
                                                        name="firstname">
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" class="form-control profile-inputs" name="lastname"
                                                        value="{{ profile.user.last_name }}">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" class="form-control profile-inputs" name="email"
                                                value="{{ profile.user.email }}">

                                                <label>Mobile Number</label>
                                                <input type="text" class="form-control" value="{{ profile.user.mobile_number }}" name="mobile_number">
                                        
                                                <label for="bio">Bio</label>
                                                <input type="text" class="form-control" name="bio" value="{{ profile.bio }}">
                                                
                                            <!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->


                                            <!-- <label>Current password (leave blank to leave unchanged)</label>
                                                             <input type="password" class="form-control">

                                                             <label>New password (leave blank to leave unchanged)</label>
                                                             <input type="password" class="form-control">

                                                             <label>Confirm new password</label>
                                                             <input type="password" class="form-control mb-2"> -->

                                            <button type="submit" class="btn btn-outline-primary-login">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                        <hr>
                                        <h6 class=" fs-1 font-monospace  ">Change Password</h6>

                                        <!-- display the user data on profile page -->
                                        <form action="{% url 'user_profile:editpassword' %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Current Password</label>
                                                        <input type="password" name="oldPassword" class="profile-inputs form-control" required>
                                                    </div><!-- End .col-sm-6 -->
                                        
                                                    <div class="col-sm-6">
                                                        <label>New Password</label>
                                                        <input type="password" name="newPassword" class="form-control profile-inputs" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->
                                        
                                                <button type="submit" class="btn btn-outline-primary-login">
                                                    <span>CHANGE PASSWORD</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </div>
                                        </form>
                                        
                                    </div><!-- .End .tab-pane -->




                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock content %}
      