{% extends 'partials/base2.html' %}
{% block content %}


<div class="container">
    <h2>My Orders</h2>
    {% if orders %}
    {% for order in orders %}
    <div class="card mb-3 p-5 " style="border-radius: 7px; background:#f3f3f9;">
        <div class="card-header">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p style="font-size: 16px;">Ordered on</p>
                    <p style="font-size: 18px;"><b>{{ order.date_ordered }}</b></p>
                </div>
                <!-- <div>
                            <p style="font-size: 16px;">Total</p>
                            <p style="font-size: 18px;"><b>${{ order.get_cart_total }}</b></p>
                        </div> -->
                <!-- <div>
                            <p style="font-size: 16px;">Delivery to</p>
                            <p style="font-size: 18px;"><b>{{ order.shipping_address }}</b></p>
                        </div> -->
            </div>
        </div>
        <hr class="m-0 mb-1">
        <div class="row col-12 d-flex mb-0 p-5 ">
            {% for order_item in order.orderitem_set.all %}
            <div class="col-md-3 col-12 bg-white d-flex align-items-center" style="border-radius: 6px;">
                <img class="" src="{{ order_item.product.productimage_set.first.image.url }}"
                    alt="{{ order_item.product.name }}">
            </div>
            <div class="col-9 pl-5 mt-2">
                <h5 class="card-title">{{ order_item.product.name }}</h5>
                <p>{{ order_item.variation.language.name }}</p>
                <p><b>{{ order_item.product.author }}</b></p>
                <p class="card-text">
                    Quantity: <b>{{ order_item.quantity }}</b><br>
                    <i class="fa-solid fa-file-invoice-dollar"></i> {{ order.payment_method }}
                </p>
                <h5 class="card-title mb-2">₹ {{ order_item.get_total }} </h5>
                <div class="card-footer row "
                    style="background: #F3F3F9; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div class="col-md-8 col-12 mx-auto" style="flex-grow: 1;">
                        <p class="" style="font-size: 18px; font-weight: bold;">Arriving on: <br>
                            {{order.expected_delivery_date|date:"D, d F" }}</p>
                    </div>
                    <div class="col-md-4 col-12" style="flex-grow: 1; text-align: right;">
                        {% if order_item.delivery_status == 'CN' %}
                        <button type="button" class="btn btn-danger mx-auto">
                            Order Cancelled
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-danger mx-auto" data-toggle="modal" data-target="#cancelOrderModal{{ order_item.id }}">
                            Cancel Order
                        </button>
                        {% endif %}
                    </div>

                    <!-- Modal -->
                    <div class="modal" id="cancelOrderModal{{ order_item.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cancel Order Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
<div class="container mx-5 modal-body">
    <p style="font-size: 18px; font-weight: bold;">Are you sure you want to cancel this order?</p>
</div>


           <!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <form method="post" action="{% url 'user_profile:cancel_order' order_item_id=order_item.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cancel Order</button>
    </form>
</div>


        </div>
    </div>
</div>
                <!-- modal ends -->
                    
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="progress-track col-12">
                {% if order_item.delivery_status != 'CN' %}
                <ul id="progressbar">
                    <li style="font-size: 16px;" class="step0 {% if order_item.delivery_status == 'PL' or order_item.delivery_status == 'DS' or order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step1">Order placed</li>
                    <li style="font-size: 16px;" class="step0 text-center {% if order_item.delivery_status == 'DS' or order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step3">Dispatched</li>
                    <li style="font-size: 16px;" class="step0 text-center {% if order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D'  %}active{% endif %}" id="step2">Shipped</li>
                    <li style="font-size: 16px;" class="step0 text-right {% if order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step4">Out for Delivery</li>
                    <li style="font-size: 16px;" class="step0 text-right {% if order_item.delivery_status == 'D' %}active{% endif %}" id="step5">Delivered</li>
                </ul>
                {% endif %}
                <hr>
            </div>

            {% endfor %}

        </div>
        <div class="col-12 row d-flex justify-content-between ">
            <h6 class="mx-5">Delivery to : <b>{{ order.shipping_address }}</b></h6>
            <h5 class="mx-5">Total : <b>${{ order.get_cart_total }}</b></h5>
        </div>
    </div>
    {% endfor %}

</div>
<br>
{% else %}
<h1>No orders found.</h1>
{% endif %}
</div>



{% endblock content %}