{% extends 'partials/base2.html' %}
{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-color: black;">
        <div class="container">
            <h1 class="page-title text-white">My Wallet</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="container my-5">
        <div class="col-12 row p-5">

            <div class="col-lg-6 col-12">
                <div class="card wallet-card m-auto">
                    <div class="card-body text-white m-5 col-12 row">
                        <div class="col-9 mt-3">
                            <span class="text-uppercase">{{ user_wallet.user.username }}</span>
                            <h6 class="text-white mt-0" style="font-size: 24px;"> {{ user_wallet.card_id }}</h6>
                        </div>
                        <div class="col-3 d-flex justify-content-center mt-4">
                            <h6 class="text-white " style="font-size: 25px;"><i class="fa-light fa-wifi fa-rotate-90"></i></h6>
                        </div>
                        <div class="col-7 d-flex align-items-end">
                            <h4 class="text-light pb-1">Wallet Balance</h4>
                        </div>
                        <div class="col-5 d-flex align-items-end">
                            <h2 class="text-white">₹ {{ user_wallet.balance }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}