{% extends 'partials/base2.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form onsubmit="return validateForm();" action="{% url 'shop:update_address' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name *</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" required>
                </div>

                <div class="mb-3">
                    <label for="address_line" class="form-label">Address Line</label>
                    <textarea class="form-control" id="address_line" name="address_line"></textarea>
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>

                <div class="mb-3">
                    <label for "state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>

                <div class="mb-3">
                    <label for="pin_code" class="form-label">Pin Code</label>
                    <input type="text" class="form-control" id="pin_code" name="pin_code" required>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country *</label>
                    <input type="text" class="form-control" id="country" name="country" required>
                </div>

                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile *</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" required>
                </div>

                 <!-- Add a checkbox for setting the address as default -->
                 <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="set_as_default" name="status">
                    <label class="form-check-label ml-3" for="set_as_default">Set as Default Address</label>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;" onclick="goBack()" >Close</a>
                    <button type="submit" class="btn btn-outline-primary-2" style="border-radius: 7px; background: #000; color: #fff;">Save Address</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script>
    function validateForm() {
        console.log("validateForm function called");
        var fullName = document.getElementById("full_name").value;
        var mobile = document.getElementById("mobile").value;

        // Add validations for other fields

        if (fullName.trim() === "") {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Full Name cannot be empty',
            });
            return false;
        }

        // Check if mobile is a 10-digit number
        if (!/^\d{10}$/.test(mobile)) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Please enter a valid 10-digit mobile number',
            });
            return false;
        }

        // Validate pin code
        var pinCode = document.getElementById("pin_code").value;
        if (!/^\d{6}$/.test(pinCode)) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Please enter a valid pin code',
            });
            return false;
        }

        return true;
    }

    function goBack() {
        window.history.back();
    }
</script>


{% comment %} 
<script>
    function validateForm() {
        console.log("validateForm function called");
        var fullName = document.getElementById("full_name").value;
        var mobile = document.getElementById("mobile").value;

        // Add validations for other fields

        if (fullName.trim() === "") {
            alert("Full Name cannot be empty");
            return false;
        }

        // Check if mobile is a 10-digit number
        if (!/^\d{10}$/.test(mobile)) {
            alert("Please enter a valid 10-digit mobile number");
            return false;
        }

        // Validate pin code
        var pinCode = document.getElementById("pin_code").value;
        if (!/^\d{6}$/.test(pinCode)) {
            alert("Please enter a valid 6-digit pin code");
            return false;
        }
        return true;
    }

    function goBack() {
        window.history.back();
    }
</script> {% endcomment %}
{% endblock scripts %}