{% extends 'partials/base2.html' %}
{% block content %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

			<div class="page-content">
				<div class="checkout">
					<div class="container">
						<form action="{% url 'shop:place_order' %}" method="post" id="checkout-form">
							{% csrf_token %}
						  <div class="checkout-discount">
					
								<input type="text" class="form-control" id="checkout-discount-input">
								<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
							
						  </div><!-- End .checkout-discount -->
						
							<div class="row">
								{% comment %} Address section {% endcomment %}
								<div class="col-lg-9">
									<h2 class="checkout-title">Billing Details</h2>
									<h4>Your Addresses</h4>
									<!-- Display existing addresses with checkboxes -->
									
									
									<div class="address-box">
										<div class="form-check">
											<input type="radio" class="form-check-input" id="address_{{ da.id }}" name="selected_address" value="{{ da.id }}" checked>
											<label class="form-check-label" for="address_{{ da.id }}">
												{{ da.full_name }} - {{ da.address_lines }}, {{ da.city }}, {{ da.country }}
											</label>
										</div>
									</div>
									
										

				
			
									<!-- Use another address modal -->
<div class="modal fade" id="useAnotherAddressModal" tabindex="-1" role="dialog" aria-labelledby="useAnotherAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="useAnotherAddressModalLabel">Select Another Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Here, you can display the list of remaining addresses -->
				{% for i in ra %}
				<div class="form-check">
					<input type="radio" class="form-check-input" id="address_{{ i.id }}" name="selected_address" value="{{ i.id }}">
					<label class="form-check-label" for="address_{{ i.id }}">
						{{ i.full_name }} - {{ i.address_lines }}, {{ i.city }}, {{ i.country }}
					</label>
					<button type="button" class="btn btn-link">
						<a href="{% url 'shop:change_address' i.id %}">Make Default</a>
					</button>
					
				</div>
			{% endfor %}
			
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div>
<!-- Trigger link for the modal -->
<div class="custom-control">
    <p class="text-primary btn btn-outline-primary-2 btn-order" data-toggle="modal" data-target="#useAnotherAddressModal">Use another address</p>
</div><!-- End .custom-checkbox -->

			
<div class="custom-control">
	<!-- Add new address button -->
	<a href="{% url 'shop:addaddress' %}" class="btn btn-outline-primary-2 btn-order">Add Address</a>
</div>
</div>

	




									<label>Order notes (optional)</label>
									<textarea class="form-control" cols="30" rows="4" name="order_notes" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
								</div><!-- End .col-lg-9 -->
								{% comment %} Your order section {% endcomment %}
								<aside class="col-lg-3">
									<div class="summary">
										<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
										<table class="table table-summary">
											<thead>
												<tr>
													<th>Your</th>
													<th>Products</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												{% for item in items %}
												<tr>
													<td>
														<img src="{{ item.product.productimage_set.first.image.url }}" alt="{{ item.product.title }}" width="50">
													</td>
													<td>
														<a href="#">{{ item.product.name }}</a>
													</td>
													<td>${{ item.get_total }}</td>
												</tr>
												{% endfor %}
												<tr class="summary-subtotal">
													<td></td>
													<td>Subtotal:</td>
													<td>${{ order.get_cart_total }}</td>
												</tr>
												<tr>
													<td></td>
													<td>Shipping:</td>
													<td>Free shipping</td>
												</tr>
												<tr class="summary-total">
													<td></td>
													<td>Total:</td>
													<td>${{ order.get_cart_total }}</td>
												</tr>
											</tbody>
										</table><!-- End .table table-summary -->
										<div class="accordion-summary" id="accordion-payment">
											<div class="card">
												
											<div class="card">
												<div class="card-header" id="heading-2">
													<h2 class="card-title">
														<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
															Pay with Razorpay
														</a>
													</h2>
												</div><!-- End .card-header -->
												<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
													<div class="card-body">
														<button type="button" class="btn btn-outline-primary-2 btn-order payWithrazorpay mt-2" data-value="razorpay">
															Pay with Razorpay
														</button>													</div><!-- End .card-body -->
												</div><!-- End .collapse -->
											</div><!-- End .card --> 
											<div class="card">
												<div class="card-header" id="heading-3">
													<h2 class="card-title">
														<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
															Cash on delivery
														</a>
													</h2>
													<!-- Hidden input for payment method -->
<input type="hidden" name="pay_mod" value="COD">
												</div><!-- End .card-header -->
												<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
													<div class="card-body">You can pay for Cash on Delivery orders using cash at the time of delivery. Cash on Delivery (COD) is available for your Order.
													</div><!-- End .card-body -->
												</div><!-- End .collapse -->
											</div><!-- End .card -->
											
											
										</div><!-- End .accordion -->
										<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"  id="place-order-button">
											<span class="btn-text">Place Order</span>
											<span class="btn-hover-text">Proceed to Checkout</span>
										</button>
									</div><!-- End .summary -->
								</aside><!-- End .col-lg-3 -->
							</div><!-- End .row -->
						</form>
					</div><!-- End .container -->
				</div><!-- End .checkout -->
			</div><!-- End .page-content -->
			
        </main><!-- End .main -->

        {% endblock content %}

		{% block scripts %}
           <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		{% endblock scripts %}