{% extends 'partials/base2.html' %}
{% block content %}
        <main class="main">
			<div class="page-header text-center" style="background-color: black;">
				<div class="container">
					<h1 class="page-title text-white">My Checkout</h1>
				</div><!-- End .container -->
			</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop:store' %}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

			<div class="page-content">
				<div class="checkout">
					<div class="container">
						<div class="cart-bottom">
						 <div class="cart-discount "  data-order-id="{{ cur_order.id }}">
							<form id="coupon-form" action="{% url 'shop:apply_coupon' order.id %}" method="post">
								{% csrf_token %}
								<div class="cart-discount">
									<div class="input-group" style="align-items: baseline;">
										<input name="coupon" type="text" class="form-control coupon_code" placeholder="coupon code{{order.id}}" style="height: 40px; margin-bottom: 0;">
										<div class="input-group-append">
											<button class="btn btn-outline-primary-2" type="submit" style="height: 40px; margin-bottom: 0;"><i class="icon-long-arrow-right"></i></button>
										</div><!-- .End .input-group-append -->
									</div><!-- End .input-group -->
								</div><!-- End .cart-discount -->
							</form>
						{% if order.applied_coupon %}
						<p class="mt-2" >Applied Coupons,   Click it to remove!!!</p> <br>
						<a href="{% url 'shop:checkout' %}" class="btn btn-outline-primary-2" style="width: 150px;" >{{ order.applied_coupon.code }} X</a>
					{% endif %}
						</div>
							{% comment %} <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a> {% endcomment %}
						</div><!-- End .cart-bottom -->
						<form action="{% url 'shop:place_order' %}" method="post" id="checkout-form">
							{% csrf_token %}
						 
						
							<div class="row">
								{% comment %} Address section {% endcomment %}
								<div class="col-lg-9">
									<h2 class="checkout-title">Billing Details</h2>
									<h4>Your Addresses</h4>
									<!-- Display existing addresses with checkboxes -->
									
									
									<div class="address-box">
										{% if address %}
										<div class="form-check custom-radio">
											<input type="radio" class="form-check-input" id="address_{{ da.id }}" name="selected_address" value="{{ da.id }}" checked>
											<label class="custom-radio-label" for="address_{{ da.id }}">
												{{ da.full_name }} - {{ da.address_lines }}, {{ da.city }}, {{ da.country }}
											</label>
										</div>
										{% else %}
										<p>No addresses available. Please add an address.</p>
    {% endif %}
									</div>
									
										

				
			
									<!-- Use another address modal -->
									<div class="modal fade" id="useAnotherAddressModal" tabindex="-1" role="dialog" aria-labelledby="useAnotherAddressModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="useAnotherAddressModalLabel">Select Another Address</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<!-- Display the list of remaining addresses -->
													{% for i in ra %}
														<div class="form-check">
															<input type="radio" class="form-check-input" id="address_{{ i.id }}" name="selected_address" value="{{ i.id }}" hidden>
															<label class="form-check-label" for="address_{{ i.id }}">
																{{ i.full_name }} - {{ i.address_lines }}, {{ i.city }}, {{ i.country }}
															</label>
															<button type="button" class="btn btn-outline-primary-2 ms-1" style="width:2rem">
																<a href="{% url 'shop:change_address' i.id %}">Make Default</a>
															</button>
														</div>
													{% endfor %}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>



							<div>
							<!-- Trigger link for the modal -->
							<div class="custom-control">
								<p class="text-primary btn btn-outline-primary-2 btn-order" data-toggle="modal" data-target="#useAnotherAddressModal">Use another address</p>
							</div><!-- End .custom-checkbox -->

										
							<div class="custom-control">
								<!-- Add new address button -->
								<a href="{% url 'shop:addaddress' %}" class="btn btn-outline-primary-2 btn-order">Add Address</a>
							</div>
							</div>
									<label>Order notes (optional)</label>
									<textarea class="form-control" cols="30" rows="4" name="order_notes" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
								</div><!-- End .col-lg-9 -->
								{% comment %} Your order section {% endcomment %}
								<aside class="col-lg-3" >
									<div class="summary">
										<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
										<table class="table table-summary">
											<thead>
												<tr>
													<th>Your</th>
													<th>Products</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												{% for item in items %}
												<tr>
													<td>
														<img src="{{ item.product.productimage_set.first.image.url }}" alt="{{ item.product.title }}" width="50">
													</td>
													<td>
														<a href="#">{{ item.product.name }}</a>
													</td>
													<td>${{ item.get_total }}</td>
												</tr>
												{% endfor %}
												<tr class="summary-subtotal">
													<td></td>
													<td>Subtotal:</td>
													<td>${{ order.get_cart_total }}</td>
												</tr>
												<tr>
													<td></td>
													<td>Shipping:</td>
													<td>Free shipping</td>
												</tr>
												<tr class="summary-total">
													<td></td>
													<td>Total:</td>
													<td>${{ order.get_cart_total }}</td>
												</tr>
											</tbody>
										</table><!-- End .table table-summary -->
										<div class="accordion-summary" id="accordion-payment">
											<div class="card">

											<div class="form-check py-1 d-flex justify-content-between">
												<div class="col-2 d-flex align-items-center"><input style="height:15px; width:15px; vertical-align: middle;" class="form-check-input  my-auto" onchange="managePlaceBTN()" type="radio" name="payment_method"  id="onlineRadio" ></div>
												<!-- <div class=" "></div> -->
												<label class="form-check-label col-10 my-auto" style="font-size: 16px;" for="onlineRadio">Online Payment</label>
											  </div>

											<div class="form-check py-1 d-flex justify-content-between">
												<div class="col-2 d-flex align-items-center"><input value="cod" style="height:15px; width:15px; vertical-align: middle;" class="form-check-input  my-auto" onchange="managePlaceBTN()" type="radio" name="payment_method" id="codRadio" ></div>
												<!-- <div class=" "></div> -->
												<label class="form-check-label col-10 my-auto" style="font-size: 16px;" for="codRadio">COD</label>
											  </div>

											  <div class="form-check d-flex justify-content-between">
												<div class="col-2 d-flex align-items-center"><input value="wallet" class="form-check-input  my-auto"  style="height:15px; width:15px; vertical-align: middle;" onchange="managePlaceBTN()" type="radio" name="payment_method" id="walletRadio"  {% if user_wallet.balance < order.get_cart_total %} disabled {% endif %}></div>
												<!-- <div class=" "></div> -->
												<label class="form-check-label col-10  " style="font-size: 16px;" for="walletRadio">Wallet</label>
											  </div>
											
											
											
											
										</div><!-- End .accordion -->
										<div >
											<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"   id="place-order-button" style="display: none;">
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
											<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block payWithrazorpay"   id="place-order-Online-button" style="display: none;" data-name="{{ user_info.name }}" data-email="{{ user_info.email }}" data-contact="{{ user_info.contact }}" data-value="razorpay">
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
										</div>
									</div><!-- End .summary -->
								</aside><!-- End .col-lg-3 -->
							</div><!-- End .row -->
						</form>
					</div><!-- End .container -->
				</div><!-- End .checkout -->
			</div><!-- End .page-content -->
			
        </main><!-- End .main -->
		

        {% endblock content %}

		{% block scripts %}
		
		   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
           <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		 
<script>
	function managePlaceBTN(){
		const codRadio = document.getElementById("codRadio")
		const walletRadio = document.getElementById("walletRadio")
		const onlineRadio = document.getElementById("onlineRadio")

		if(codRadio.checked || walletRadio.checked){
			document.getElementById("place-order-button").style.display="block"
			document.getElementById("place-order-Online-button").style.display="none"
			
		}else if(onlineRadio.checked){
			document.getElementById("place-order-Online-button").style.display="block"
			document.getElementById("place-order-button").style.display="none"
		}else{
			document.getElementById("place-order-Online-button").style.display="none"
			document.getElementById("place-order-button").style.display="none"
		}
	}
</script>
<script>
    // Assuming you have included jQuery
    $(document).ready(function () {
        // Check if messages exist
        var messagesExist = {% if messages %}true{% else %}false{% endif %};

        // If messages exist, show SweetAlert
        if (messagesExist) {
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}', // Use appropriate icon based on message tags
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endfor %}
        }
    });
</script>


		{% endblock scripts %}