{% extends 'partials/base2.html' %}
{% block content %}


        {% comment %} product discription starts here {% endcomment %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop:store' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content ">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{ product.productimage_set.first.image.url }}" data-zoom-image="{{ product.productimage_set.first.image.url }}" alt="product image">


                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->



                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            {% for product_image in product.productimage_set.all %}
                                                <a class="product-gallery-item{% if forloop.first %} active{% endif %}" href="#" data-image="{{ product_image.image.url }}" data-zoom-image="{{ product_image.image.url }}">
                                                    <img src="{{ product_image.image.url }}" alt="product {% if forloop.first %}side{% elif forloop.last %}with model{% else %}cross{% endif %}">
                                                </a>
                                            {% endfor %}
                                        </div><!-- End .product-image-gallery -->



                                        
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 id="product-title">{{ product.name }}</h1><!-- End .product-title -->

                                    {% comment %} <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        {% comment %} <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a> {% endcomment %}
                                    </div><!-- End .rating-container --> 
                                    <div class="product-price">
                                        <span>₹</span><span id="product-price" >{{ product.price }}858585850</span>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>by <strong>{{ product.author }}</strong> </p>
                                    </div><!-- End .product-content -->

                                    <div class="product-content">
                                        <input type='hidden' value="{{ product.id }}" class="product-id" >
                                    </div><!-- End .product-content -->

                                   {% comment %} <!-- Language selection dropdown -->
<div class="product-content">
    <label for="product-language">Select Language:</label>
    <select id="product-language" class="form-control">
        {% for variation in variations %}
                <option value="{{ variation.id }}">{{ variation.language }}</option>
        {% endfor %}
    </select>
</div> {% endcomment %}
                         

<!-- Language selection buttons -->
<div class="product-content">
    <label for="product-language">Select Language:</label>
    <div class="language-buttons">
        {% for variation in variations %}
        <button class="language-button" data-variation-id="{{ variation.id }}">{{ variation.language }}</button>
        {% endfor %}
    </div>
</div>




<div class="product-details-action mt-3">
    {% if user.is_authenticated %}
    <button id="add-to-cart" data-product="{{ product.id }}" data-action="add" class="btn-product btn-cart update-cart" style="display: none">Add to Cart</button>
    <p class="out-of-stock" style="display: none">Out of Stock</p>
    {% endif %}
</div><!-- End .product-details-action -->
                         


                                    <div class="product-details-action" >
                                        {% if is_in_cart %}
                                            <button class="btn">&#10004; Item already in cart</button>
                                        {% endif %}
                                      
                                    </div><!-- End .product-details-action -->
                                    
                                    
                                    
                                    
                                    
                                    
                                    

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="{% url 'shop:store' %}?category={{ product.category.id }}">{{ product.category }}</a>,
                                            {% comment %} <a href="#">Dresses</a>,
                                            <a href="#">Yellow</a> {% endcomment %}
                                        </div><!-- End .product-cat -->
                                        <div class="details-action-wrapper">
                                            {% if user.is_authenticated %}
                                            <a href="#" class="btn-product btn-wishlist2" title="Wishlist" data-product-id="{{ product.id }}">
                                                <span>Add to Wishlist</span>
                                            </a>
                                            {% endif %}
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>{{ product.description }} </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div>
                      </div><!-- End .product-details-tab -->













                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow text-center d-flex justify-content-center" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "480": {
                                "items": 2
                            },
                            "768": {
                                "items": 3
                            },
                            "992": {
                                "items": 4
                            },
                            "1200": {
                                "items": 4,
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                    {% for related_product in related_products %}
                    <div class="product product-7 ">
                        <figure class="product-media">
                            <a href="{% url 'shop:product' related_product.id %}">
                                <img src="{{ related_product.productimage_set.first.image.url }}" alt="{{ related_product.name }}" class="product-image">
                            </a>
                           
                            <div class="product-action">
                                {% if user.is_authenticated %}
                                    <a href=""  data-product-id="{{ related_product.id }}" class="btn-product btn-cart btn-wishlist2"><span>Add to Wishlist</span></a>
                                {% endif %}
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <span>{{ related_product.category.name }}</span>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="{% url 'shop:product' related_product.id %}">{{ related_product.name }}</a></h3>
                            <div class="product-price d-flex justify-content-center">
                                ₹ {{ related_product.price }}
                            </div>
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                {% endfor %}
                
                
                </div>
                

                
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock content %}